.python-version
__pycache__/
.venv
images/
explanations/
uv.lock
cache/
results/
chexpert/
*.csv
*.png
hyper-kvasir/*
model/
models/
results_transmmplus/
hyper-kvasir_imagefolder/*
wandb/
*.pt
*.txt
/data